.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fdd835; /* Amarelo */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    color: #000; /* Preto */
    text-transform: uppercase;
    margin-bottom: 20px;
}

.list-container {
    border: 2px solid #000; /* Preto */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Remover margem padrão da lista */
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffc107; /* Amarelo mais claro */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #000; /* Preto */
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination-button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #000; /* Preto */
    color: #fdd835; /* Amarelo */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-button:disabled {
    background-color: #666; /* Cinza escuro */
    color: #ccc; /* Cinza claro */
    cursor: not-allowed;
}

.error {
    color: red;
}
