body {
  margin: 40;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(205, 216, 51); 
  background: #303436; 
}

.jumbotron{
  background-color: #242629; 
}

.user-details{
  padding: 10px;
  background: #a5bb2c;
  border-radius: 5px;
}

ul{
  list-style: none;
}
.char-name{
  color: rgb(205, 216, 51);
}